.ticket {
    margin-top: 20px;
    border-radius: 5px;
    width: 502px;
    height: 184px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.ticket-header {
    margin: auto;    
    height: 50px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

.ticket-price {
    margin-top: 26px;
    float: left;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;    
    color: #2196F3;    
}

.ticket-carrier {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    width: 110px;
    height: 36px;
}

.ticket-carrier img {
    width: 110px;
}