.checkbox {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.checkbox:hover {
    background-color: #F1FCFF;
}

span {
    padding-left: 10px;
    font-size: 13px;
    line-height: 20px;
}

.container {
    display: flex;
    position: relative;
    user-select: none;
    cursor: url('../../../assets/Cursor.png'),  auto;
}

.container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.container span {
    border-radius: 2px;
}

.checkmark {
    height: 20px;
    width: 20px;
    border: 1px solid #9ABBCE;
    box-sizing: border-box;
    border-radius: 2px;
    margin-left: 0px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border: 1px solid #2196F3;
}

.container input:checked ~ .checkmark:after {
    display: flex;
}

.container input:checked ~ span {
    border: 1px solid #2196F3;
}

.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: 1px solid #2196F3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

