.segment {
    margin: auto;    
    box-sizing: border-box;
    margin-top: 20px;
}

.segment-line {
    display: flex;
    line-height: 18px;
}

.segment-item {
    width: 140px;
    margin-left: 20px;
    text-align: left;
}

.segment-header {
    line-height: 18px;
    font-size: 12px;
    color: #A0B0B9;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.segment-data {
    line-height: 21px;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0.5px;
}