.sort-order-option {
    width: 251px;
    height: 50px;
    text-align: center;

    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #4A4A4A;
    border: none;
    outline: none;
    border: 1px solid #DFE5EC;
}

.sort-order-option.left {
    border-radius: 5px 0px 0px 5px;
}

.sort-order-option.right {
    border-radius: 0px 5px 5px 0px;
}

.sort-order-option.active {
    background-color: #2196F3;
    color: white;
}