.filter {
    width: 232px;
    height: 252px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #4A4A4A;
    cursor: url('../../../assets/Cursor.png'),  auto;
    padding-bottom: 10px;
}

.filterHeader {    
    font-size: 12px;
    text-align: left;
    padding: 20px 20px 10px 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}